<h1>Loop It!</h1>
<ul>
	<% for(var i=0;i<length;i++) { %>
		<li>
			<%= "Loop : "+i %>
		</li>
	<% } %>
</ul>

<% if(username){ %>
    <h2>Welcome! <%= username %> (name: <%= name %>)</h2>
<% }else{ %>
    <h2> Please Login. </h2>
<% } %>