<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body>
		<h1>Loop It!</h1>
		<ul>
			<% for(var i=0; i<length; i++) { %>
				<li>
					<h2> <%= "Loop : " + i %> </h2>
				</li>
			<% } %>
		</ul>
	</body>
</html>